 #PYTHON#
venv/
.cache
.config
.bash_history
jarvis-core/__pycache__

#FILES#
logs/
models/
RAGData/
TradeData/
RouterData/
DOCS/
jarvis-core/test/
jarvis-core/JarvisData/
xcuserdata/
DerivedData/

*.pyc
*.DS_Store

#SECRETS#
.env
scripts/client_secret.json
