 #PYTHON#
venv/
.cache
.config
.bash_history
jarvis-core/__pycache__

#FILES#
logs/
models/
RAGData/
TradeData/
RouterData/
JarvisConfig
jarvis-core/reflections/
jarvis-core/JarvisData/model_cache/
*.pyc

#SECRETS#
.env
scripts/client_secret.json
